.MonthContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	.MonthItem {
		border: 1px solid #e3e5e8;
		min-height: 128px;
		min-width: 100%;
		display: flex;
		justify-content: flex-end;
		.DaysNumber {
			text-align: center;
			max-height: 36px;
			min-width: 36px;
			border-radius: 10px;
			padding: 0.35rem;
			margin: 5px;
		}
		.DaysNumberToday {
			text-align: center;
			max-height: 36px;
			min-width: 36px;
			border-radius: 10px;
			padding: 0.35rem;
			margin: 5px;
			color: #fff;
			background-color: #2d99ff;
		}
	}
}

.WeekContainer {
	padding-bottom: 2rem;
	display: flex;
	max-height: 80vh;
	overflow: auto;
	.TimeSlotContainer {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 1.6rem;
		.TimeSlot {
			outline: 1px solid blue;
			min-height: cal(100% / 20);
			padding: 0 1.5rem 0;
		}
	}
	.Week {
		max-height: 80vh;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(20, 1fr);
		.WeekItem {
			min-width: 12.9rem;
			min-height: 3.5rem;
			max-height: 3.5rem;
			border: 1px solid #e3e5e8;
			.WeekText {
			}
		}
	}
}

.DayContainer {
}
