.DaysOfWeekContainer {
	display: flex;
	height: 30px;
	padding-top: 4px;
	.DaysOfWeek {
		min-width: calc(100% / 7);
		text-align: center;
		.WeekNames {
			color: hsl(217, 15%, 45%);
			font-size: 13px;
			line-height: 18px;
			text-transform: uppercase;
		}
		.WeekNum {
			margin-top: 2px;
			color: hsl(0, 0%, 20%);
			font-size: 1.2rem;
		}
	}
	.DayOfWeek {
		color: hsl(217, 15%, 45%);
		font-size: 13px;
		line-height: 18px;
		min-width: 100%;
		text-align: center;
		text-transform: uppercase;
	}
}
