.NavContainer {
	max-width: 5vw;
	min-width: 5vw;
	height: 100vh;
	color: #1a1926;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e3e5e8;
	overflow: hidden;
	transition: all 0.3s linear;
}

.NavItem {
	display: flex;
	align-items: center;
	height: 3rem;
	min-width: 2.75rem;
	max-width: 2.75rem;
	margin: 0.25rem 0;
	padding: 0 0.75rem;
	border-radius: 16px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	transition: all 0.3s linear;
	line-height: 20.46px;
	font-size: 15px;
}

.NavItem img {
	height: 20px;
	min-width: 20px;
}

.NavItem p {
	height: 1.3rem;
	margin-left: 1rem;
	overflow: hidden;
	line-height: 20.46px;
	font-size: 15px;
}

.NavContainer:hover {
	min-width: 13vw;
}

.NavContainer:hover img {
	width: auto;
	height: 20px;
}

.NavContainer:hover .NavItem {
	border-radius: 16px;
	min-width: 10rem;
	max-width: 10rem;
}

.NavItem:hover {
	background-color: rgba(26, 142, 255, 0.1);
	cursor: pointer;
	color: #2d99ff;
}

.active {
	background-color: rgba(26, 142, 255, 0.1);
	color: #2d99ff;
	transition: all 0.3s linear;
}

.CalendarItems {
	max-height: 15rem;
	min-height: 15rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all 0.3s linear;
}

.NavContainer:hover .CalendarItems {
	margin-top: 1rem;
	max-height: 12.5rem;
	min-height: 12.5rem;
}

.NavContainer .CalendarHeader {
	transition: all 0.3s linear;
	margin-left: 2.8rem;
	display: flex;
	align-items: center;
}

.NavContainer:hover .CalendarHeader {
	margin-left: 1rem;
}

.NavContainer .CalendarHeader p:first-child {
	font-size: 1.1rem;
	/* font-weight: bold; */
	color: #637085;
}

.CalendarHeader .CalendarAddItem {
	margin-left: 1rem;
	cursor: pointer;
}

.NavContainer .CalendarFilterItem {
	display: flex;
	align-items: center;
	margin-top: .6rem;
	/* margin-top: 0rem; */
	transition: all 0.3s linear;
}

.CalendarFilterItem p {
	margin-left: 1rem;
}

.dot {
	min-width: 0.75rem;
	max-width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	margin-left: 1rem;
}
