.MonthChange {
	display: flex;
	min-width: 93px;
	max-height: 48px;
	background-color: #f5f7fa;
	border-radius: 14px;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	overflow: hidden;
}

.Chevron {
	max-width: 45px;
	max-height: 45px;
	padding: 1rem;
	margin: 5px 2px;
	border-radius: 14px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.MonthChange img:hover {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.02);
}

.Divider {
	min-width: 1px;
	min-height: 24px;
	background-color: #e3e5e8;
}

.Today {
	font-size: 15px;
	max-height: 48px;
	min-width: 48px;
	background-color: #f5f7fa;
	padding: 14px 24px;
	border-radius: 14px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.Today:hover {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.02);
}

.Month {
	width: 93px;
	border-radius: 12px;
	padding: 10px 24px;
	cursor: pointer;
	z-index: 2;
	transition: color 0.3s ease-in-out;
}

.Week {
	width: 88px;
	border-radius: 12px;
	padding: 10px 24px;
	cursor: pointer;
	z-index: 2;
	transition: color 0.3s ease-in-out;
}

.Day {
	width: 76px;
	border-radius: 12px;
	padding: 10px 24px;
	cursor: pointer;
	z-index: 2;
	transition: color 0.3s ease-in-out;
}

.Focus {
	position: absolute;
	z-index: 1;
	background: linear-gradient(180deg, #ffffff 83.86%, #f5f6f7 100%);
	border: 0.5px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.02);
	height: 44px;
	transition: left 0.3s linear, width 0.3s linear;
}

.DaysOfWeekContainer {
	display: flex;
	padding-top: 8px;
	height: 37px;
}

.DaysOfWeek {
	font-size: 13px;
	text-transform: uppercase;
	min-width: calc(100% / 7);
	color: #637085;
	text-align: center;
	line-height: 18px;
}

.DaysContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 1px;
}

.DaysItem {
    border: 1px solid #e3e5e8;
}
